<% include header.ejs %>

<script type="text/javascript">
    var DATA_URL = '<%= api_url %>';
    var VIEW_URL = '<%= resources_url %>';
    $.ajaxSetup({ cache: false });

    var userId = <%= id %>;

</script>
<script src="<%= resources_url %>/js/user.js"></script>

<!--------------------------------------------------- /.container -->

<div class="container">

    <div id="alerttt-placeholder"></div>

    <div class="breadcrumbs">
        <a href="/">Home</a> > <%= title %>
    </div>

    <div id="user_container">
        <h1 class="page-header" id="page-header-title">User </h1>
        <% include user_form.ejs %>
    </div>


    <div id="tag_container">
        <h1 class="page-header" id="page-header-title">Tag list</h1>
        <table class="table table-hover" id="tagList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="add_tag_container">
        <h1 class="page-header" id="add-tag-title">Add tag to user</h1>

        <% include ask_tag_to_server.ejs %>
        
        <form role="form">
            <button type="submit" class="btn btn-primary" id="form-user-search" click="return false">Add tag to user</button>
        </form>
    </div>
</div> 

<% include footer.ejs %>